{% load static %}
<div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem">
  <a href="{% url 'facebook:index' %}" class="d-flex p-3 link-body-emphasis text-decoration-none justify-content-center" title="Facebook" data-bs-toggle="tooltip" data-bs-placement="right">
    <i class="bi bi-facebook fs-3" aria-hidden="true"></i>
    <span class="visually-hidden">Facebook</span>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="{% url 'facebook:index' %}" class="nav-link {% if active == 'index' %}active{% endif %} py-3 border-bottom rounded-0" aria-current="page" title="Principal" data-bs-toggle="tooltip" data-bs-placement="right"><i class="bi bi-house" width="24" height="24" role="img" aria-label="Principal"></i></a>
    </li>
    <li>
      <a href="{% url 'facebook:create-post' %}" class="nav-link {% if active == 'create-post' %}active{% endif %} py-3 border-bottom rounded-0" title="Publicaciones" data-bs-toggle="tooltip" data-bs-placement="right"><i class="bi bi-window-plus" width="24" height="24" role="img" aria-label="Publicaciones"></i></a>
    </li>
    <li>
      <a href="#" class="nav-link {% if active == 'users' %}active{% endif %} py-3 border-bottom rounded-0" title="Usuarios" data-bs-toggle="tooltip" data-bs-placement="right"><i class="bi bi-person-circle" width="24" height="24" role="img" aria-label="Usuarios"></i></a>
    </li>
  </ul>
  <div class="dropdown border-top">
    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><img src="{{ request.user.photo_url }}" alt="mdo" width="24" height="24" class="rounded-circle object-fit-cover" /></a>
    <ul class="dropdown-menu text-small shadow">
      <li>
        <a class="dropdown-item" href="{% url 'facebook:profile' username=request.user.username %}">Perfil</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <form action="{% url 'profiles:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="dropdown-item" href="#">Cerrar sesión</button>
        </form>
      </li>
    </ul>
  </div>
</div>
