{% extends 'layouts/social.html' %}

{% block title %}
  {% if current_view == 'edit-post' %}
    Editar Publicación
  {% else %}
    Crear Publicación
  {% endif %}
{% endblock %}

{% block app_content %}
  <h1>
    {% if current_view == 'edit-post' %}
      Editar publicación
    {% else %}
      Crear publicación
    {% endif %}
  </h1>
  <hr />

  <div class="row">
    <div class="col col-md-6">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
          <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
              <ul class="invalid-feedback invalid-feedback-custom">
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}

        <button class="btn {% if current_view == 'edit-post' %}
             btn-warning
          {% else %}
            btn-success
          {% endif %}"
          type="submit">
          {% if current_view == 'edit-post' %}
            Guardar cambios
          {% else %}
            Crear publicación
          {% endif %}
        </button>
      </form>
    </div>
  </div>
{% endblock %}
