{% extends 'layouts/social.html' %}
{% load static %}

{% block title %}
  {{ user }}
{% endblock %}

{% block app_styles %}
  <link rel="stylesheet" href="{% static 'facebook/css/detail_user.css' %}" />
{% endblock %}

{% block app_content %}
  <div class="row justify-content-center">
    <div class="col-auto">
      <div id="profile-icon" class="rounded-circle border border-primary border-2 overflow-hidden" width="50" height="50">
        {% if user.photo %}
          <img src="{{ user.photo.url }}" class="object-fit-cover h-100 w-100" alt="Imagen de usuario anonimo" />
        {% else %}
          <div class="w-100 h-100 bg-body-secondary d-flex justify-content-center align-items-center">
            <i class="bi bi-person fs-1"></i>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="col-auto">
      <h1>
        {{ user }}
        {% if user.is_following %}
          <form class="d-inline" method="post" action="{% url 'facebook:follow-user' user_id=user.id %}">
            {% csrf_token %}
            <button class="btn btn-outline-danger btn-small">Dejar de seguir</button>
          </form>
        {% else %}
          <form class="d-inline" method="post" action="{% url 'facebook:follow-user' user_id=user.id %}">
            {% csrf_token %}
            <button class="btn btn-primary btn-small">Seguir</button>
          </form>
        {% endif %}
      </h1>
      <p class="text-secondary">{{ user.username }}</p>
      <p class="m-0">
        <i class="bi bi-person-check-fill"></i> <span class="fw-bold">Seguidores:</span> {{ user.followers_count }}
      </p>
      <p class="m-0">
        <i class="bi bi-hand-thumbs-up-fill"></i> <span class="fw-bold">Likes:</span> {{ user.postlikes_count }}
      </p>
      <p class="m-0">
        <i class="bi bi-window-plus"></i> <span class="fw-bold">Publicaciones:</span> {{ user.posts_count }}
      </p>
    </div>
  </div>

  {% include 'facebook/components/show_posts.html' with posts=user_posts style='my-4' %}
{% endblock %}
