{% extends 'layouts/social.html' %}
{% load static %}

{% block title %}
  Perfil
{% endblock %}

{% block app_styles %}
  <link rel="stylesheet" href="{% static 'facebook/css/profile.css' %}" />
{% endblock %}

{% block app_content %}
  {% comment %}moon-stars moon-stars-fill brightness-high brightness-high-fill{% endcomment %}
  <div class="d-flex align-items-start gap-3">
    <h1>Perfil</h1>
    {% comment %} Modo oscuro {% endcomment %}
    <div class="d-flex form-check form-switch gap-3 align-items-center">
      <input id="dark-mode-toggle" class="form-check-input" type="checkbox" role="switch" {{ request.user.config.dark_mode|yesno:'checked,' }} data-url="{% url 'facebook:dark-mode' %}" data-csrf="{{ csrf_token }}" />
      <label id="dark-mode-label" class="form-check-label" for="dark-mode-toggle" title="Activar modo oscuro"><i class="bi bi-moon-stars{{ request.user.config.dark_mode|yesno:'-fill,' }} fs-5"></i></label>
    </div>
  </div>
  <hr />

  <div class="row row-cols-1 gap-3 justify-content-center">
    <div class="col col-md-2">
      {% comment %}Circulo perfil (editar foto de perfil){% endcomment %}
      <div class="row justify-content-center align-items-start">
        <div class="col-6 col-md-12">
          <button id="profile-button-photo" class="rounded-circle border border-secondary border-2 overflow-hidden"><img id="profile-preview-photo" src="{{ request.user.photo_url }}" class="object-fit-cover h-100 w-100" alt="Imagen actual del usuario {{ request.user.username }}" /></button>
        </div>
      </div>
    </div>

    {% comment %}Formulario datos de usuario{% endcomment %}
    <div class="col col-md-6">
      {% include 'facebook/components/profile_form.html' with form=form %}
    </div>
  </div>

  <hr />
  <h2>Mis publicaciones</h2>
  {% include 'facebook/components/show_posts.html' with posts=posts_user style='my-4' %}
{% endblock %}

{% block app_scripts %}
  <script src="{% static 'facebook/js/profile.js' %}"></script>
{% endblock %}
