{% extends "base.html" %}

{% block title %}
  <title>Personas</title>
{% endblock title %}

{% block content %}
  
  <h1>Lista de personas</h1>
  <ul>
    {% for person in person_list %}
      <li><a href="{% url 'playground:person-detail' pk=person.id %}">{{ person }}</a></li>
    {% endfor %}
  </ul>

  <dl>
    <dt>Peru</dt>    
    <dd>Un pais con una gastronomia increible</dd>
    <dt>Argentina</dt>
    <dd>Un pais con un gusto increible por la musica</dd>
    <dt>Brasil</dt>
    <dd>El pais del phonk y la balada</dd>
  </dl>

  <a href="{% url 'playground:person-create' %}">Agregar nueva persona</a>

{% endblock content %}