{% load static %}

<div class="col">
  <div class="card p-0 card-post">
    <div class="row g-0 h-100">
      <div class="col-md-4">
        <div class="img-post-container h-100 position-relative">
          {% if not is_user_detail %}
            <a href="{% url 'facebook:detail-user' pk=post.user.id %}" onclick="event.stopPropagation()" class="img-post-profile position-absolute bottom-0 start-0 d-flex align-items-center justify-content-center p-3 text-decoration-none" title="{{ post.user.username }}">
              <div class="position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  <i class="bi bi-person"></i> {{ post.followers_count }}
                  <span class="visually-hidden">Seguidores</span>
                </span>

                {% if post.user.photo %}
                  <img src="{{ post.user.photo.url }}" alt="mdo" class="img-user-post rounded-circle object-fit-cover" />
                {% else %}
                  <div class="img-user-post bg-body-tertiary d-flex justify-content-center align-items-center rounded-circle text-decoration-none border text-body">
                    <i class="bi bi-person"></i>
                  </div>
                {% endif %}
              </div>
            </a>
          {% endif %}
          {% if post.image %}
            <img src="{{ post.image.url }}" class="img-fluid rounded-start w-100 h-100 object-fit-cover" alt="Card title" />
          {% else %}
            <div class="rounded-start w-100 h-100 bg-body-secondary d-flex justify-content-center align-items-center">
              <i class="bi bi-image"></i>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body container-fluid">
          <h5 class="card-title" title="{{ post.title }}" role="button" data-bs-toggle="modal" data-bs-target="#postModal-{{ post.id }}">{{ post.title }}</h5>
          <p class="card-text card-content">{{ post.description }}</p>
          <p class="m-0">
            <button id="btn-like-post-{{ post.id }}" data-url="{% url 'facebook:like-post' post.id %}" data-csrf="{{ csrf_token }}" onclick="event.stopPropagation(); likePost(this)" class="btn p-0 btn-like-inner-post {% if post.is_liked %}liked{% endif %}">
              <i class="bi bi-hand-thumbs-up"></i>
              <span>{{ post.likes_count }}</span>
            </button>
          </p>
          <p class="card-text col-auto">
            <small class="text-body-secondary"><time datetime="{{ post.created_at|date:'c' }}">{{ post.created_at|date:'d/m/Y H:i' }}</time></small>
          </p>
          {% if request.resolver_match.view_name == 'facebook:profile' %}
            {% include './post/actions_post.html' with post=post %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %}Modal de publicacion{% endcomment %}
{% include './post/modal_post.html' with post=post %}
