{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'facebook/css/facebook_styles.css' %}" />
{% endblock %}

{% block content %}
  <main class="d-flex flex-nowrap">
    {% include './sidebar.html' with active=current_view %}

    <section class="overflow-y-auto w-100">
      <div class="container mt-5">
        {% block page_content %}

        {% endblock %}
      </div>
    </section>
  </main>
{% endblock %}

{% block messages %}
  {% if messages %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      {% for message in messages %}
        <div class="toast text-bg-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <div class="rounded me-2">
              <i class="bi bi-facebook"></i>
            </div>
            <strong class="me-auto">Facebook</strong>
            <small>Ahora mismo</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">{{ message }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {% comment %} <script>
    const toastTrigger = document.getElementById('liveToastBtn')
    const toastLiveExample = document.getElementById('liveToast')
    
    if (toastTrigger) {
      const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
      toastTrigger.addEventListener('click', () => {
        toastBootstrap.show()
      })
    }
  </script> {% endcomment %}
  <script>
    
    const toastEls = document.querySelectorAll('.toast')

    toastEls.forEach(toastEl => {
      const toast = new bootstrap.Toast(toastEl)
      toast.show()
    })

  </script>

  {% block facebook_scripts %}

  {% endblock %}

  <script src="{% static 'facebook/js/sidebar.js' %}"></script>
{% endblock %}
